@import url('https://fonts.googleapis.com/css?family=Lexend Deca');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F2F2F2;
    font-family: 'Lexend Deca';
    font-size: 15px;
}

main{
    display: flex;
    justify-content: center;
    height: 10vh;
    flex-direction: row;
}

.section{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.sedan{
    background-color: #F4800B;
    color: #ffffff;
    padding: 30px;
    border-radius: 5px 0px 0px 5px;
    height: 325px;
    width: 250px;
}

.suv{
    background-color: #006B73;
    color: #ffffff;
    padding: 30px;
    height: 325px;
    width: 250px;
}

.luxury{
    background-color: #004240;
    color: white;
    padding: 30px;
    border-radius: 0px 5px 5px 0px;
    height: 325px;
    width: 250px;

}

.first, p{
    margin-top: 20px;
}

.second{
    font-size: 10px;
    line-height: 1.7;
}

.btn{
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    padding: 10px;
    width: 100px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.btn1{
    color: #F4800B;
}

.btn2{
    color: #006B73;
}

.btn3{
    color: #004240;
}

.btn1:hover {
    background-color: #CC6100;
    border-radius: 15px;
    color: white;
    cursor: pointer;
  }

  .btn2:hover {
    background-color: #00575D;
    border-radius: 15px;
    color: white;
    cursor: pointer;
  }

  .btn3:hover {
    background-color: #003634;
    border-radius: 15px;
    color: white;
    cursor: pointer;
  }

  .btn-grid{
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}
  

.btn-grid:hover {
    background-color: #003634;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }

